{% extends 'widget.html.twig' %}
{% block widget %}
    <div class="row">
        <div class="build col-md-4">
            <div class="subtitle">Problem with fetching data</div>
            <div class="travisicon">
                <i class="glyphicon glyphicon-thumbs-down"></i>
            </div>
        </div>
    </div>
{% endblock %}
